<div class="contenedor">
    <div class="row">
        <div class="col">
            <label class="titulo">Incidencias</label>
        </div>
    </div>

    <div class="row pb-80">
        <div class="col-12">
            <div class="card-incidencias sombra relative">
                <textarea
                    [value]="textarea"
                    rows="5"
                    placeholder="Envianos tus reportes de incidencias o fallas del sistema">
                </textarea>
                <button class="boton-enviar">
                    <i class="bi bi-cursor-fill"></i>
                    Enviar
                </button>
            </div>
        </div>
        <div class="col-12" *ngFor="let incidencia of [1,1,1,1,1,1]">
            <div class="card-incidencias sombra">
                <div class="w-80">
                    <label class="label1">Gueyner Albeiro Guzmán Ibarra</label><br>
                    <label class="label1">Taxis 1a</label><br>
                    <label class="label2">Hola, buenos días, el sistema esta fallando a la hora de refrendar y exportar excel</label>
                </div>
                <div class="w-20">
                    <label>17:02:36/15/03/2023</label>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-paginacion ">
        <app-paginacion 
            [cantidad]="40"
            (paginar)="pagina($event)">
        </app-paginacion>
    </div>
</div>