<div class="contenedor">
    <div class="row">
        <div class="col-6">
            <label class="titulo">Taxistas registrados</label>
        </div>
        <div class="col-6 flex-end">
            <app-export-excel (export)="exportar($event)" [exportMultiple]="3"/>
        </div>
    </div>
    <div class="row mt-20 pb-80">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th class="ptlr">Nombres</th>
                        <th>Apellidos</th>
                        <th>Cédula</th>
                        <th>Licencia de conducción</th>
                        <th>Dirección</th>
                        <th>Categoría Pase</th>
                        <th class="ptrr">Razón social</th>
                    </tr>
                </thead>
                <div class="h-10"></div>
                <tbody class="bw">
                  <tr *ngFor="let taxista of taxistas" (click)="datosConductor(taxista.idConductor)">
                    <td>{{taxista.nombres}}</td>
                    <td>{{taxista.apellidos}}</td>
                    <td>{{taxista.cedula}}</td>
                    <td>{{taxista.licenciaConduccion}}</td>
                    <td>{{taxista.direccion}}</td>
                    <td>{{taxista.categoriaPase}}</td>
                    <td>{{taxista.nombreEmpresa}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer-paginacion ">
        <app-paginacion 
            *ngIf="totalPages"
            [cantidad]="totalPages"
            [focus]="paginaActual"
            (paginar)="pagina($event)">
        </app-paginacion>
    </div>
</div>