.contenedor {
    padding: 15px 20px;
    height: 100%;
}
.mt-40 {
    margin-top: 40px;
}
.mt-20 {
    margin-top: 20px;
}
.titulo {
  font-size: 25px;
  font-weight: bold;
  color: #000;
  margin-left: 20px;
}
.subtitulo {
  font-size: 25px;
  font-weight: bold;
  color: #000;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button-opc {
  padding: 10px 30px;
  background-color: white;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.15);
}
.separador-cards {
  height: 30px;
}

app-card-vehiculo {
  transition: all 0.2s ease-in-out;
}
app-card-conductor {
  transition: all 0.2s ease-in-out;
}
