.contenedor {
    padding: 15px 20px;
    height: 100%;
}
.titulo {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    margin-left: 20px;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.mt-20 {
    margin-top: 20px;
}
.encabezado {
    background: white;
    border-radius: 0px 20px 0px 0px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
thead {
    background-color: white;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 30px !important;
    border-top-left-radius: 30px !important;
    margin-bottom: 20px;
}
tr th {
    border: none;
    padding: 20px;
    font-size: 14px;
}
tr td {
    padding: 10px 20px;
    font-size: 14px;
}
.ptlr {
    border-top-left-radius: 30px !important;
}
.ptrr {
    border-top-right-radius: 30px !important;
}
.h-10 {
    height: 10px;
    width: 100%;
}
.bw {
    background: white;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.15);
}