<div class="contenedor">
    <div class="row">
        <div class="col-6">
            <label class="titulo">Taxis registrados</label>
        </div>
        <div class="col-6 flex-end">
            <app-export-excel/>
        </div>
    </div>
    <div class="row mt-20 pb-80">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th class="ptlr">Empresa</th>
                        <th>Placa</th>
                        <th>Modelo</th>
                        <th>Marca</th>
                        <th>Nombre propietario</th>
                        <th class="ptrr">Cédula propietario</th>
                    </tr>
                </thead>
                <div class="h-10"></div>
                <tbody class="bw">
                  <tr *ngFor="let taxi of [0,1,2,3,4,5,6,7,8,9,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
                    <td>TAXIS S.A.S.</td>
                    <td>TZW 522</td>
                    <td>2023</td>
                    <td>KIA</td>
                    <td>Jairo Rafael Pimienta Lineros</td>
                    <td>12090290920</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="footer-paginacion ">
        <app-paginacion 
            [cantidad]="40"
            (paginar)="pagina($event)">
        </app-paginacion>
    </div>
</div>