<form (ngSubmit)="guardar()" [formGroup]="form" autocomplete="off">
    <div class="contenedor">
        <div class="row">
            <div class="col">
                <label class="titulo">Cambiar contraseña</label>
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-6">
                <label class="subtitulo">Contraseña actual</label>
                <input type="password" class="input" formControlName="actual">
            </div>
            <div class="col-6"></div>
        </div>
        <div class="row mt-10">
            <div class="col-6">
                <label class="subtitulo">Nueva contraseña</label>
                <input type="password" class="input" formControlName="nueva">
            </div>
            <div class="col-6">
                <label class="subtitulo">Confirme la nueva contraseña</label>
                <input type="password" class="input" formControlName="confirmacion">
            </div>
        </div>
        <div class="row mt-30">
            <div class="col flex-end">
                <button class="b-b" [disabled]="!form.valid" type="submit"><img [src]="'assets/guardar.svg'">Guardar</button> 
                <div class="w-20"></div> 
                <button class="b-w" mat-dialog-close type="button">Cancelar</button>
            </div>
        </div>
    </div>
</form>