<div class="contenedor">
    <div class="pb-20">
        <label>
            ¿ Seguro que desea eliminar esta
            {{ (data.action == 'EPS') ? 'EPS' : undefined  }}
            {{ (data.action == 'ARL') ? 'ARL' : undefined  }}
            {{ (data.action == 'AFP') ? 'AFP' : undefined  }}
            {{ (data.action == 'ASE') ? 'Aseguradora' : undefined  }}
            {{ (data.action == 'MAR') ? 'Marca' : undefined  }}
            {{ (data.action == 'CAL') ? 'Calificación' : undefined  }}
            {{ (data.action == 'CxV') ? 'Conductores X Vehículo' : undefined  }}
            {{ (data.action == 'VxC') ? 'Vehículos X Conductor' : undefined  }}
            ?
        </label>
    </div>
    <div class="centrar">
        <button class="b-b">Elminar</button> 
        <div class="w-20"></div> 
        <button class="b-w" mat-dialog-close>Cancelar</button>
    </div>
</div>