<div class="contenedor">
    <div class="row mt-20">
        <app-barra-busqueda [placeholder]="'Buscar por placa o cédula'"/>
    </div>
    <div class="row mt-10">
        <div class="col-6">
            <label class="titulo">Matriculas Canceladas</label>
        </div>
        <div class="col-6 flex-end">
            <app-export-excel/>
        </div>
    </div>


    <div class="row pb-80">
        <div class="col-12" *ngFor="let taxista of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
            <div class="card-taxista sombra">
                <div class="img">
                    <img [src]="'assets/taxi.svg' | imagenes">
                </div>
                <div class="texts">
                    <label>KIA Modelo: <span>2023</span></label><br>
                    <label>Empresa: <span>TAXIS S.A.S.</span></label><br>
                    <label>Placa: <span>TZW522</span></label><br>
                    <label>Número de motor: <span>G4LCN1063560</span></label><br>
                    <label>Número de chasis: <span>LJD0AA29AP0204272</span></label>
                </div>
                <div class="texts">
                    <label>Propietario: <span>Jairo Rafael Pimienta Lineros</span></label><br>
                    <label>Cédula: <span>1083023962</span></label><br>
                    <label>Teléfono: <span>305 276 6362</span></label><br>
                    <label>Dirección: <span>Manzana L Casa 6 Apto 301</span></label>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-paginacion ">
        <app-paginacion 
            [cantidad]="40"
            (paginar)="pagina($event)">
        </app-paginacion>
    </div>
</div>