<div class="contenedor">
    <div class="row mt-20">
        <app-barra-busqueda [placeholder]="'Buscar por placa o cédula'" (searchEvent)="buscando($event)"/>
    </div>
    <div class="row mt-40">
        <div class="col-6">
            <label class="titulo">Proximos en vencerse</label>
        </div>
        <div class="col-6 flex-end">
            <app-export-excel (export)="exportar()"/>
        </div>
    </div>
    <div class="row pb-80">
        <div class="col-4 mt-20" *ngFor="let taxista of fechasVencida | fechasVencidasEmpresa : buscar">
            <div class="card-taxista">
                <div class="w-img"><img [src]="prevImg + taxista.fotoURL| imagenes"></div>
                <div class="w-tex">
                    <label class="cardtitulo">{{taxista.nombres + ' ' + taxista.apellidos}}</label><br>
                    <label class="cardsubtitulo">Empresa: <span>{{taxista.razonSocial}}</span></label><br>
                    <label class="cardsubtitulo">Cédula: <span>{{taxista.cedula}}</span></label><br>
                    <label class="cardsubtitulo">Placa: <span>{{taxista.placa}}</span></label><br>
                    <label class="cardsubtitulo">
                        Licencia: <span>En {{ taxista.diferencialicencia }} días</span>
                        <img [src]="'assets/tramitadas.svg' | imagenes">
                    </label><br>
                    <label class="cardsubtitulo">
                        Tarjeta de operación: <span>En {{ taxista.diferenciatarjetaO }} días</span>
                        <img [src]="'assets/tramitadas.svg' | imagenes">
                    </label><br>
                    <label class="cardsubtitulo">
                        RCC: <span>En {{ taxista.diferenciaFechaNumeroRCC }} días</span>
                        <img [src]="'assets/tramitadas.svg' | imagenes">
                    </label><br>
                    <label class="cardsubtitulo">
                        RCE: <span>En {{ taxista.diferenciaFechaNumeroRCE }} días</span>
                        <img [src]="'assets/tramitadas.svg' | imagenes">
                    </label><br>
                    <label class="cardsubtitulo">
                        SOAT: <span>En {{ taxista.diferenciaFechaNumeroSOAT }} días</span>
                        <img [src]="'assets/tramitadas.svg' | imagenes">
                    </label><br>
                    <label class="cardsubtitulo">
                        Tecnicomecánica: <span>En {{ taxista.diferenciaFechaNumeroTecnomecanica }} días</span>
                        <img [src]="'assets/tramitadas.svg' | imagenes">
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-paginacion ">
        <app-paginacion 
            *ngIf="totalPages"
            [cantidad]="totalPages"
            [focus]="paginaActual"
            (paginar)="pagina($event)">
        </app-paginacion>
    </div>
</div>