<div class="modal-container">
  <div class="content-wrapper" #contentWrapper (scroll)="onScroll($event)">
    <h1 id="terminos" class="title">Términos y Condiciones de Uso</h1>

    <h2 class="subtitle">1. Introducción</h2>
    <p class="content">Los presentes Términos y Condiciones de Uso (en adelante, los "Términos") regulan el acceso y uso del Sistema de información y control del transporte público de taxi Sictaxi-Buentaxi (en adelante, el "Sistema"), desarrollado y operado por Corporación Innlab S.A.S, con NIT 900976532, en adelante, "lnnlab". Al hacer uso del Sistema, el Usuario acepta de manera expresa y plena todos los términos y condiciones de uso y tratamiento de datos establecidos en este documento. Correo de contacto para ejercer sus derechos de petición o queja: corporacioninnlab&#64;gmail.com</p>

    <h2 class="subtitle">2. Definiciones</h2>
    <ul>
      <li class="content">
        <b>Usuario</b>: Persona natural o jurídica que utiliza el Sistema para acceder, registrar, gestionar, exportar y validar la información de conductores, propietarios, empresas y usuarios de taxi.
      </li>
      <li class="content">
        <b>Datos Personales</b>: Cualquier información relacionada con una persona natural y jurídica que permita identificarla o hacerla identificable, incluyendo, pero no limitado a, nombre, dirección, número de cédula, teléfono, estrato socioeconómico, estudios, dirección, licencias, entre otros.
      </li>
      <li class="content">
        <b>Sistema</b>: Herramienta tecnológica proporcionada por la Empresa que permite recolectar, almacenar, y gestionar los datos de conductores, usuarios y empresas de taxi.
      </li>
    </ul>

    <h2 class="subtitle">3. Propósito del Sistema</h2>
    <p class="content">El Sistema está diseñado para facilitar la recolección, almacenamiento, y gestión de la información de conductores de taxi y empresas de taxi en Colombia. Al hacer uso del sistema los usuarios autorizan a la empresa el tratamiento de los datos ingresados y el almacenamiento de los datos en el sistema. Esta información será utilizada únicamente para los fines descritos en la Política de Privacidad y en conformidad con la legislación vigente en materia de protección de datos personales. El Sistema brinda información precisa en línea y en tiempo real del servicio de Transporte Público urbano de Taxi, a los usuarios y a la autoridad de Tránsito o terceros en concreto sobre la identidad de los conductores, características de las empresas prestadoras de servicio, tarifas, coberturas, tiempos de desplazamiento y satisfacción del usuario.</p>

    <h2 class="subtitle">4. Obligaciones del Usuario</h2>
    <p class="content">El Usuario se compromete a:</p>
    <ul>
      <li class="content">Proporcionar información veraz, actualizada y completa al momento de registrar a los conductores de taxi y empresas de taxi en el Sistema.</li>
      <li class="content">No utilizar el Sistema para actividades ilícitas o contrarias a la moral y las buenas costumbres.</li>
      <li class="content">No divulgar ni compartir el acceso al Sistema sin la debida autorización.</li>
    </ul>

    <h2 class="subtitle">5. Propiedad Intelectual</h2>
    <p class="content">Todos los derechos de propiedad intelectual , derechos de autor relacionados con el Sistema, incluyendo su diseño, código fuente, bases de datos y contenido, son propiedad exclusiva de lnnlab o del respectivo titular de Innlab  . El uso del Sistema no otorga al Usuario derechos sobre la propiedad intelectual de Innlab, al ingresar los datos personales los usuarios autorizan el uso y tratamiento de los datos .</p>

    <h2 class="subtitle">6. Modificaciones de los Términos</h2>
    <p class="content">Innlab se reserva el derecho de modificar estos Términos en cualquier momento. Cualquier cambio será comunicado al Usuario a través de los canales de contacto proporcionados.</p>

    <h2 class="subtitle">7. Responsabilidad</h2>
    <p class="content">nnlab no se hace responsable de la veracidad de la información proporcionada por los Usuarios o de cualquier daño derivado del uso inapropiado del Sistema.</p>

    <h2 class="subtitle">8. Terminación de la Cuenta</h2>
    <p class="content">Innlab podrá suspender o eliminar la cuenta del Usuario en caso de incumplimiento de estos Términos o cuando deje de percibir la remuneración por el uso del sistema , sin perjuicio de las acciones legales que puedan corresponder.</p>

    <h2 class="subtitle">9. Ley Aplicable y Jurisdicción</h2>
    <p class="content">Este acuerdo se regirá por las leyes de la República de Colombia. En caso de controversias, las partes se someterán a conciliación antes de acudir a instancias judiciales.</p>




    <h1 id="privacidad" class="title">Políticas de Privacidad</h1>

    <h2 class="subtitle">1. Introducción</h2>
    <p class="content">La presente Política de Privacidad establece cómo Corporación Innlab S.A.S, en calidad de responsable del tratamiento, maneja los datos personales de los conductores, propietarios de taxi, empresas de taxi y usuarios que utilizan el Sistema. Esta Política está en conformidad con la Ley 1581 de 2012, el Decreto 1377 de 2013 y demás normatividad colombiana aplicable sobre protección de datos personales.</p>

    <h2 class="subtitle">2. Información Recopilada</h2>
    <p class="content">El Sistema recolecta información personal de los conductores, propietarios y empresas de taxi, tales como:</p>
    <ul>
      <li class="content">Nombre completo.</li>
      <li class="content">Número de cédula de ciudadanía o NIT.</li>
      <li class="content">Dirección.</li>
      <li class="content">Teléfonos de contacto.</li>
      <li class="content">Nivel educativo</li>
      <li class="content">Estrato Socioeconómico</li>
      <li class="content">Información de licencias y vehículos(placas,Tarjeta de propiedad, SOAT, tecnicomecanica, Póliza contractual y extracontractual, Tarjeta de operación).</li>
      <li class="content">Información relacionada con la actividad profesional y de taxi.</li>
      <li class="content">Calificaciones recibidas de la App BuenTaxi.</li>
    </ul>

    <h2 class="subtitle">3. Finalidad del Tratamiento de los Datos</h2>
    <p class="content">La información personal recolectada será utilizada con los siguientes fines:</p>
    <ul>
      <li class="content">Almacenamiento, gestión y administración de la base de datos de conductores, propietarios y empresas de taxi.</li>
      <li class="content">Publicación de los siguientes datos (nombre completo conductor, nombre empresa de taxi en la que está afiliado, foto conductor, información de la tarjeta de control) en la Aplicación Móvil Buen Taxi para que la ciudadanía pueda identificar y compartir con terceros quién los transporta y calificar el servicio prestado.</li>
      <li class="content">Publicación de los datos del vehículo que presta servicio de Taxi (Placa,modelo, empresa a la que está afiliado el vehículo) en la Aplicación Móvil Buen Taxi para que la ciudadanía pueda identificar y compartir con terceros quién los transporta y calificar el servicio prestado.</li>
      <li class="content">Publicación de los datos de la empresa que presta servicio de Taxi (Razón social o nombre de la empresa) en la Aplicación Móvil Buen Taxi para que la ciudadanía pueda identificar y compartir con terceros quién los transporta y calificar el servicio prestado.</li>
      <li class="content">Contacto con las empresas,conductores, propietarios y vehículos  para fines operativos, administrativos y de seguridad.</li>
      <li class="content">Cumplimiento de los requisitos legales establecidos en la normativa de transporte en Colombia en el Decreto 1047 de 2014 artículo 8.</li>
      <li class="content">Realización de estudios estadísticos y análisis de la actividad del servicio de transporte público de taxis.</li>
      <li class="content">Compartir con las autoridades de tránsito la base de datos de las empresas, conductores y propietarios y vehículos del servicio de Taxi. </li>
      <li class="content">Compartir con terceros la base de datos de las empresas, conductores y propietarios y vehículos del servicio de Taxi. </li>
      <li class="content">En relación con reclamaciones legales, cumplimiento, reglamentación y fines de investigación, según sea necesario (incluyendo la divulgación de información relacionada con solicitudes de entidades gubernamentales, procesos o litigios legales).</li>
    </ul>

    <h2 class="subtitle">4. Derechos de los Titulares de los Datos</h2>
    <p class="content">Los titulares de los datos tienen derecho a:</p>
    <ul>
      <li class="content">Acceder, rectificar, actualizar y suprimir sus datos personales.</li>
      <li class="content">Revocar la autorización para el tratamiento de sus datos, salvo en aquellos casos en que no sea posible según la ley.</li>
      <li class="content">Presentar quejas ante la Superintendencia de Industria y Comercio (SIC) si consideran que sus derechos han sido vulnerados.</li>
    </ul>

    <h2 class="subtitle">5. Seguridad de los Datos</h2>
    <p class="content">Innlab implementa medidas técnicas, organizativas y físicas para proteger los datos personales de los Usuarios contra accesos no autorizados, pérdida, alteración o divulgación. No se responsabiliza del mal manejo del sistema</p>

    <h2 class="subtitle">6. Transferencia de Datos</h2>
    <p class="content">Los datos personales recolectados pueden ser transferidos a terceros ubicados dentro o fuera de Colombia, siempre que estos prestan servicios relacionados con la operación del Sistema, y bajo las condiciones de seguridad y confidencialidad exigidas por la normatividad Colombiana.</p>

    <h2 class="subtitle">7. Modificaciones de la Política de Privacidad</h2>
    <p class="content">Innlab se reserva el derecho de modificar esta Política de Privacidad en cualquier momento, notificando los cambios a los Usuarios.</p>

    <h1 id="tratamiento" class="title">Autorización Para el Tratamiento de Datos Personales</h1>
    <p class="content">Yo, {{empresa}}, con NIT {{nitEmpresa}}, autorizo de manera libre, voluntaria, expresa e informada a Corporación Innlab S.A.S, para que recoja, almacene, procese, utilice, actualice, comparta y transfiera mis datos personales de acuerdo con las finalidades descritas en la Política de Privacidad del Sistema.</p>
    <p class="content">He sido informado de que los datos personales que recolecta el Sistema se utilizarán para gestionar mi relación con Corporacion Innlab S.A.S en todo lo descrito en la política de privacidad, y en cumplimiento de las leyes Colombianas sobre protección de datos personales, y que tengo derecho a acceder, rectificar, actualizar y suprimir mis datos, así como a revocar mi autorización en cualquier momento.</p>
    <p class="content">Declaro que los datos proporcionados son verídicos y completos, y me comprometo a notificar cualquier cambio o actualización.</p>
    <p class="content"><b>Fecha de autorización: {{ fecha }}</b></p>

    <!-- Botón flotante -->
    <button
      mat-fab
      class="fab-button"
      (click)="scrollToBottom()"
      aria-label="Desplazar hacia abajo"
    >
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </div>

  <div class="actions">
    <button mat-raised-button color="primary" [disabled]="!canClose" (click)="closeDialog()">Aceptar</button>
  </div>
</div>


