<div class="contenedor">
    <div class="row mt-20">
        <app-barra-busqueda [placeholder]="'Buscar por nombre'"/>
    </div>
    <div class="row mt-10">
        <div class="col-6 flex-end">
            <app-select 
                [placeholder]="'Tipo de comentario negativo'" 
                [comentarios]="comentariosN"
                (select)="selectComent($event)"
            />  
        </div>
        <div class="col-6 flex-start">
            <app-datetime
                (select)="selectDate($event)"
            />
        </div>
    </div>
    <div class="row mt-10">
        <div class="col-6">
            <label class="titulo">Conductores con quejas</label>
        </div>
        <div class="col-6 flex-end">
            <app-export-excel/>
        </div>
    </div>
    <div class="row pb-80">
        <div class="col">
            <div class="card-taxista sombra" *ngFor="let taxista of [1,1,1,1,1,1,1,1,1]">
                <div class="primero">
                    <img [src]="'' | imagenes" (click)="datosConductor('1')">
                </div>
                <div class="segundo">
                    <div class="l-h">
                        <label class="negrita">Jesús Alberto Tamayo Guerrero - <span>Cédula/Licencia: 85450287</span></label><br>
                        <label class="negrita"><span>Quejas: </span>1</label><br>
                        <label class="negrita"><span>Quejas tramitadas: </span>0</label>
                    </div>
                </div>
                <div class="tercero">
                    <div>
                        <button class="button" (click)="quejasTramitadas('1')"><img [src]="'assets/tramitar.svg' | imagenes"><label>Tramitar</label></button>
                        <div class="h-10"></div>
                        <button class="button" (click)="bloquear('1')"><img [src]="'assets/bloquear.svg' | imagenes"><label>Bloquear</label></button>
                    </div>
                </div>
                <div class="cuarto">
                    <img [src]="'assets/taxi.svg' | imagenes">
                </div>
                <div class="quinto">
                    <div class="l-h">
                        <label class="negrita">HYUNDAI Modelo: <span>2012</span></label><br>
                        <label class="negrita">Placa: <span>UQS546</span></label><br>
                        <label class="negrita">Número de motor: <span>GE398UEJJE9U3EJ</span></label><br>
                        <label class="negrita">Número de chasis: <span>MALSNNSMOOANNSMSOMOA</span></label><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-paginacion ">
        <app-paginacion 
            [cantidad]="40"
            (paginar)="pagina($event)">
        </app-paginacion>
    </div>
</div>