<div class="contenedor">
    <div class="row">
        <div class="col-6">
            <label class="titulo">Taxis con SOAT Vencido</label>
        </div>
        <div class="col-6 flex-end">
            <app-export-excel (export)="exportar()"/>
        </div>
    </div>
    <div class="row mt-20 pb-80">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th class="ptlr">Rázon social</th>
                        <th>Placa</th>
                        <th>Modelo</th>
                        <th>Marca</th>
                        <th>Número SOAT</th>
                        <th class="ptrr">Fecha de vencimiento</th>
                    </tr>
                </thead>
                <div class="h-10"></div>
                <tbody class="bw">
                  <tr *ngFor="let taxi of taxis">
                    <td>{{taxi.nombreEmpresa}}</td>
                    <td>{{taxi.placa}}</td>
                    <td>{{taxi.modelo}}</td>
                    <td>{{taxi.marca}}</td>
                    <td>{{taxi.numeroSOAT}}</td>
                    <td>{{taxi.fechaVencimientoSOAT | date: 'dd/MM/YYYY'}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="footer-paginacion ">
        <app-paginacion 
            *ngIf="totalPages"
            [cantidad]="totalPages"
            [focus]="paginaActual"
            (paginar)="pagina($event)">
        </app-paginacion>
    </div>
</div>