<div class="listado">
    <div class="item d-flex ordenar" *ngFor="let taxista of taxistas | taxistasEasy : search">
        <img [src]="taxista.img| imagenes" (click)="datosConductor(1)">
        <label class="name" (click)="datosConductor(1)">{{taxista.name}} {{taxista.surname}}</label>
        <label class="guion" (click)="datosConductor(1)">-</label>
        <label class="placa" (click)="datosConductor(1)">PLACA: {{taxista.placa}}</label>
        <div class="cant" (click)="quejasTramitadas(1)">{{taxista.cantidad}}</div>
    </div>
</div>