<!-- <button class="opc" (click)="exportar()" [hidden]="exportMultiple">
  <label>Exportar a Excel </label>
  <img [src]="'assets/excel.svg'">
</button>
<button class="opc" mat-button [matMenuTriggerFor]="menu" [hidden]="!exportMultiple">
  <label>Exportar a Excel </label>
  <img [src]="'assets/excel.svg'">
</button>
<mat-menu [hidden]="!exportMultiple" #menu="matMenu">
    <button mat-menu-item *ngFor="let item of arr; let i = index" (click)="exportarPag(i + 1)">Parte {{i + 1}}</button>
</mat-menu> -->
