<div class="contenedor">

    <div class="row">
        <div class="col">
            <div class="card-header sombra">
                <div class="w-50 flex-start">
                    <label class="titulo">Usuarios</label>
                </div>
                <div class="w-50 flex-end">
                    <label class="subtitulo" (click)="editar('1')">Nuevo usuario</label>
                    <img [src]="'assets/agregarusuario.svg'" class="icon" (click)="editar('1')">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col">
            <div class="card-container sombra">
                <div class="row">
                    <div class="col-3" *ngFor="let usuario of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">
                        <div class="card-user sombra">
                            <div class="user-data">
                                <img [src]="'' | imagenes" class="img-profile"><br>
                                <label class="title-username">Usuario {{i}}</label><br>
                                <label class="labels">Usuario: <span>SECRE2</span></label><br>
                                <label class="labels">Dirección: <span>0000</span></label><br>
                                <label class="labels">Teléfono: <span>320 645 7462</span></label><br>
                                <label class="labels">Razón social: <span>Movilidad</span></label>
                            </div>
                            <div class="botones">
                                <button class="b1" (click)="editar('1')">Editar <img [src]="'assets/editar.svg'"></button>
                                <button class="b2" (click)="eliminar('1')">Eliminar <img [src]="'assets/eliminar.svg'"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>