<div class="contenedor-70">
    <div class="grid">
        <div class="row">
            <div class="col-2-4">
                <app-card-simple 
                    [titulo]="'Taxis Registrados'"  
                    [data]="dataCards.taxisRegistrados" 
                    [route]="'/empresa/taxis-registrados'"
                />
            </div>
            <div class="col-2-4">
                <app-card-simple 
                    [titulo]="'Documentos vencidos'"
                    [data]="dataCards.documentosVencidos"
                    [route]="'/empresa/documentos-vencidos'"
                />
            </div>
            <div class="col-2-4">
                <app-card-simple 
                    [titulo]="'Próximos en vencerse'"  
                    [data]="dataCards.alertasDeVencimiento" 
                    [route]="'/empresa/proximos-vencerse'"
                />
            </div>
            <div class="col-2-4">
                <app-card-simple 
                    [titulo]="'Taxistas registrados'"  
                    [data]="dataCards.taxistasRegistrados" 
                    [route]="'/empresa/taxistas-registrados'"
                />
            </div>
            <div class="col-2-4">
                <app-card-simple 
                    [titulo]="'Matrículas canceladas'"  
                    [data]="dataCards.vehiculoChatarrizados" 
                    [route]="'/empresa/matriculas-canceladas'"
                />
            </div>
        </div>
        <div class="row mt-20">
            <div class="col">
                <app-card-reporte-calificaciones/>
            </div>
        </div>
    </div>
</div>