<div class="countdown">
  <div class="time-box">
    <span class="label footer-text">⏳ Tu usuario expira en:</span>
  </div>
  <div class="time-box">
    <span class="number">{{ days }}</span>
    <span class="label">DÍAS</span>
  </div>
  <div class="time-box">
    <span class="number">{{ hours }}</span>
    <span class="label">HORAS</span>
  </div>
  <div class="time-box">
    <span class="number">{{ minutes }}</span>
    <span class="label">MINS</span>
  </div>
  <div class="time-box">
    <span class="number">{{ seconds }}</span>
    <span class="label">SEGS</span>
  </div>
</div>
