<div class="contenedor">
    <div class="row mt-10">
        <div class="col">
            <label class="titulo">Agregar conductor</label>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col">
            <button class="opcion-button" [ngClass]="{'seleccionado': seleccionado != 1}" (click)="seleccion(1)">
                <img src="assets/sidebar/agregarconductor.svg">Conductor
            </button>
            <button class="opcion-button" [ngClass]="{'seleccionado': seleccionado != 2}" (click)="seleccion(2)">
                <img src="assets/sidebar/user.svg">Inf. complementaria
            </button>
            <button class="opcion-button" [ngClass]="{'seleccionado': seleccionado != 3}" (click)="seleccion(3)">
                <img src="assets/taxi.svg">Vehículo
            </button>
            <button class="opcion-button" [ngClass]="{'seleccionado': seleccionado != 4}" (click)="seleccionado = 4" *ngIf="id">
                <img src="assets/moneda.png">Refrendaciones
            </button>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col">
            <app-conductor 
                (refrendar)="refrendar()"
                (saveForm)="savedForm($event, 1)"
                (busquedaXCedula)="buscarC($event)"

                [conductorBxC]="conductorBxC"
                [conductor]="conductor"
                [form]="_form1"
                [id]="id"

                [hidden]="seleccionado != 1" 

                class="animado animate__animated animate__fadeInRight"
            />
            <app-info-complementaria 
                (refrendar)="refrendar()"
                (saveForm)="savedForm($event, 2)"

                [conductorBxC]="conductorBxC"
                [conductor]="conductor"
                [form]="_form2"
                [id]="id"

                [hidden]="seleccionado != 2" 

                class="animado animate__animated animate__fadeInRight"
            />
            <app-vehiculo 
                (refrendar)="refrendar()"
                (saveForm)="savedForm($event, 3)"
                (busquedaXPlaca)="buscarV($event)"

                [vehiculoBxC]="vehiculoBxC"
                [conductor]="conductor" 
                [form]="_form3"
                [id]="id"

                [hidden]="seleccionado != 3" 

                class="animado animate__animated animate__fadeInRight"
            />
            <app-refrendaciones 
                (refrendar)="refrendar()"

                [id]="id" 
                [conductor]="conductor" 

                *ngIf="seleccionado == 4"

                class="animado animate__animated animate__fadeInRight"
            />
        </div>
    </div>
</div>