<form (ngSubmit)="_guardar()" [formGroup]="form" autocomplete="off">
    <div class="card-formulario sombra">
    
        <div class="row">
            <div class="col-3">
                <label class="subtitulo">Placa</label>
                <input type="text" class="input" formControlName="placa" (keyup)="debounce()">
            </div>
            <div class="col-3">
                <label class="subtitulo">Marca</label>
                <select type="text" class="input" formControlName="idMarca">
                    <option *ngFor="let item of marcas" value={{item.id}}>{{item.marca}}</option>
                </select>
            </div>
            <div class="col-3">
                <label class="subtitulo">Modelo</label>
                <input type="text" class="input" formControlName="modelo">
            </div>
            <div class="col-3">
                <label class="subtitulo">Cédula o NIT de propietario</label>
                <input type="text" class="input" formControlName="cedulaPropietario">
            </div>
            <div class="col-3">
                <label class="subtitulo">Nombre completo propietario</label>
                <input type="text" class="input" formControlName="nombrePropietario">
            </div>
            <div class="col-3">
                <label class="subtitulo">Dirección del propietario</label>
                <input type="text" class="input" formControlName="direccionPropietario">
            </div>
            <div class="col-3">
                <label class="subtitulo">Teléfono del propietario</label>
                <input type="text" class="input" formControlName="telefonoPropietario">
            </div>
            <div class="col-3">
                <label class="subtitulo">Nº Motor</label>
                <input type="text" class="input" formControlName="numeroMotor">
            </div>
            <div class="col-3">
                <label class="subtitulo">Nº Chasis</label>
                <input type="text" class="input" formControlName="numeroChasis">
            </div>
            <div class="col-3">
                <label class="subtitulo">Nº Tarjeta de Operación</label>
                <input type="text" class="input" formControlName="tarjetaOperacion">
            </div>
            <div class="col-3">
                <label class="subtitulo">Fecha de exp. tarjeta</label>
                <input 
                    type="text" 
                    class="input" 
                    [placeholder]="'aaaa/mm/dd'"
                    [mask]="'9999/99/99'"
                    formControlName="fechaTarjetaOperacion"
                >
            </div>
            <div class="col-3">
                <label class="subtitulo">Fecha de venc. tarjeta</label>
                <input 
                    type="text" 
                    class="input"
                    [placeholder]="'aaaa/mm/dd'"
                    [mask]="'9999/99/99'"
                    formControlName="fechaTarjetaOperacionF"
                >
            </div>
            <div class="col-3">
                <label class="subtitulo">Nº RCC</label>
                <input type="text" class="input" formControlName="numeroRCC">
            </div>
            <div class="col-3">
                <label class="subtitulo">Nº RCE</label>
                <input type="text" class="input" formControlName="numeroRCE">
            </div>
            <div class="col-3">
                <label class="subtitulo">Nº SOAT</label>
                <input type="text" class="input" formControlName="numeroSOAT">
            </div>
            <div class="col-3">
                <label class="subtitulo">Nº Tecnicomecánica</label>
                <input type="text" class="input" formControlName="numeroTecnoMecanica">
            </div>
            <div class="col-3">
                <label class="subtitulo">Fecha de venc. RCC</label>
                <input 
                    type="text" 
                    class="input" 
                    [placeholder]="'aaaa/mm/dd'"
                    [mask]="'9999/99/99'"
                    formControlName="fechaNumeroRCC"
                >
            </div>
            <div class="col-3">
                <label class="subtitulo">Fecha de venc. RCE</label>
                <input 
                    type="text" 
                    class="input"
                    [placeholder]="'aaaa/mm/dd'"
                    [mask]="'9999/99/99'"
                    formControlName="fechaNumeroRCE"
                >
            </div>
            <div class="col-3">
                <label class="subtitulo">Fecha de venc. SOAT</label>
                <input 
                    type="text" 
                    class="input"
                    [placeholder]="'aaaa/mm/dd'"
                    [mask]="'9999/99/99'"
                    formControlName="fechaNumeroSOAT"
                >
            </div>
            <div class="col-3">
                <label class="subtitulo">Fecha de venc. técnicomecánica</label>
                <input 
                    type="text" 
                    class="input"
                    [placeholder]="'aaaa/mm/dd'"
                    [mask]="'9999/99/99'"
                    formControlName="fechaNumeroTecnoMecanica"
                >
            </div>
            <div class="col-3">
                <label class="subtitulo">Aseguradora</label>
                <select type="text" class="input" formControlName="idAseguradora">
                    <option *ngFor="let item of aseguradoras" value={{item.id}}>{{item.nombre}}</option>
                </select>
            </div>
            <div class="col-3">
                <label class="subtitulo">Asocición</label>
                <select type="text" class="input" formControlName="idAsociacion">
                    <option *ngFor="let item of asociaciones" value={{item.id}}>{{item.razonsocial}}</option>
                </select>
            </div>
            <div class="col-3">
                <label class="subtitulo">Nº Registro (censo)</label>
                <input type="text" class="input" formControlName="idMatricula">
            </div>
            <div class="col-3"></div>
        </div>
        
    
        <div class="row mt-20">
            <div class="col-6"></div>
            <div class="col-6 end">
                <button class="sombra bg-b" type="submit"><img [src]="'assets/guardar.svg'">Guardar todo</button>
                <div class="separador" *ngIf="id"></div>
                <button class="sombra bg-r" *ngIf="id" type="button" (click)="_refrendar()"><img [src]="'assets/moneda.png'">Refrendar</button>
                <div class="separador"></div>
                <button class="sombra bg-r" [routerLink]="'/empresa/buscar-conductores'">Cancelar</button>
            </div>
        </div>
    </div>
</form>