<div class="card-formulario sombra">

    <div class="row">
        <div class="col-3">
            <label class="subtitulo">Placa</label>
            <input type="text" class="input">
        </div>
        <div class="col-3">
            <label class="subtitulo">Marca</label>
            <select type="text" class="input">
                <option value="" *ngFor="let it of [1,1,1,1]; let i = index">opcion {{i}}</option>
            </select>
        </div>
        <div class="col-3">
            <label class="subtitulo">Modelo</label>
            <input type="text" class="input">
        </div>
        <div class="col-3">
            <label class="subtitulo">Cédula o NIT de propietario</label>
            <input type="text" class="input">
        </div>
    </div>


    <div class="row mt-10">
        <div class="col-3">
            <label class="subtitulo">Nombre completo propietario</label>
            <input type="text" class="input">
        </div>
        <div class="col-3">
            <label class="subtitulo">Dirección del propietario</label>
            <input type="text" class="input">
        </div>
        <div class="col-3">
            <label class="subtitulo">Teléfono del propietario</label>
            <input type="text" class="input">
        </div>
        <div class="col-3">
            <label class="subtitulo">Nº Motor</label>
            <input type="text" class="input">
        </div>
    </div>
    

    <div class="row mt-10">
        <div class="col-3">
            <label class="subtitulo">Nº Chasis</label>
            <input type="text" class="input">
        </div>
        <div class="col-3">
            <label class="subtitulo">Nº Tarjeta de Operación</label>
            <input type="text" class="input">
        </div>
        <div class="col-3">
            <label class="subtitulo">Fecha de exp. tarjeta</label>
            <input type="date" class="input">
        </div>
        <div class="col-3">
            <label class="subtitulo">Fecha de venc. tarjeta</label>
            <input type="date" class="input">
        </div>
    </div>
    

    <div class="row mt-10">
        <div class="col-3">
            <label class="subtitulo">Nº RCC</label>
            <input type="text" class="input">
        </div>
        <div class="col-3">
            <label class="subtitulo">Nº RCE</label>
            <input type="text" class="input">
        </div>
        <div class="col-3">
            <label class="subtitulo">Nº SOAT</label>
            <input type="text" class="input">
        </div>
        <div class="col-3">
            <label class="subtitulo">Nº Tecnicomecánica</label>
            <input type="text" class="input">
        </div>
    </div>
    

    <div class="row mt-10">
        <div class="col-3">
            <label class="subtitulo">Fecha de venc. RCC</label>
            <input type="date" class="input">
        </div>
        <div class="col-3">
            <label class="subtitulo">Fecha de venc. RCE</label>
            <input type="date" class="input">
        </div>
        <div class="col-3">
            <label class="subtitulo">Fecha de venc. SOAT</label>
            <input type="date" class="input">
        </div>
        <div class="col-3">
            <label class="subtitulo">Fecha de venc. técnicomecánica</label>
            <input type="date" class="input">
        </div>
    </div>
    

    <div class="row mt-10">
        <div class="col-3">
            <label class="subtitulo">Aseguradora</label>
            <select type="text" class="input">
                <option value="" *ngFor="let it of [1,1,1,1]; let i = index">opcion {{i}}</option>
            </select>
        </div>
        <div class="col-3">
            <label class="subtitulo">Asocición</label>
            <select type="text" class="input">
                <option value="" *ngFor="let it of [1,1,1,1]; let i = index">opcion {{i}}</option>
            </select>
        </div>
        <div class="col-3">
            <label class="subtitulo">Nº Registro (censo)</label>
            <input type="date" class="input">
        </div>
        <div class="col-3"></div>
    </div>
    

    <div class="row mt-20">
        <div class="col-4"></div>
        <div class="col-4 end">
        </div>
        <div class="col-4 end">
            <div class="flexible end">
                <button class="sombra bg-b"><img [src]="'assets/guardar.svg'">Guardar todo</button>
                <div class="separador"></div>
                <button class="sombra bg-r" [routerLink]="'/empresa/buscar-conductores'">Cancelar</button>
            </div>
        </div>
    </div>
</div>