<div class="contenedor">
    <div class="row mt-20">
        <app-barra-busqueda [placeholder]="'Buscar por placa o cédula'" (searchEvent)="buscar($event)"/>
    </div>
    <div class="row mt-10">
        <div class="col-6">
            <label class="titulo">Conductores</label>
        </div>
        <div class="col-6 flex-end">
            <app-export-excel/>
        </div>
    </div>
    <div class="row pb-80">
        <div class="col-12" *ngFor="let conductor of conductores">
            <div class="card-taxista">
                <div class="img">
                    <img [src]="conductor.img | imagenes" (click)="datosConductor(conductor.idConductor)">
                </div>
                <div class="textos">
                    <div class="linea-uno">{{conductor.nombres}}</div>
                    <div class="linea-dos">
                        <div class="textos-container w1">
                            <label>Cédula: <span>{{conductor.cedula}}</span></label><br>
                            <label>Licencia: <span>{{conductor.licenciaConduccion}} - vence el {{conductor.licenciaConduccionFecha | date: 'dd/MM/YYYY'}}</span></label><br>
                            <label>Tarjeta de operación: <span>{{conductor.tarjetaOperacion}}</span></label><br>
                            <label>Dirección: <span>{{conductor.tarjetaOperacion}}</span></label><br>
                            <label>Teléfono: <span>{{conductor.telefonoPropietario}}</span></label><br>
                            <label>Categoría pase: <span>{{conductor.categoriaPase}}</span></label><br>
                            <label>Tipo de sangre: <span>{{conductor.tipoSangre}}</span></label><br>
                            <label>EPS: <span>{{conductor.eps}}</span></label><br>
                            <label>ARL: <span>{{conductor.arl}}</span></label><br>
                            <label>AFP: <span>{{conductor.afp}}</span></label>
                        </div>
                        <div class="separador"></div>
                        <div class="textos-container w2">
                            <label>Fecha de nacimiento: <span>{{conductor.fechaNacimiento | date: 'dd/MM/YYYY'}}</span></label><br>
                            <label>Fecha de tarjeta: <span>{{conductor.fechaTarjeta | date: 'dd/MM/YYYY'}}</span></label><br>
                            <label>Número RCC: <span>{{conductor.numeroRCC}}</span></label><br>
                            <label>Número RCE: <span>{{conductor.numeroRCE}}</span></label><br>
                            <label>SOAT: <span>{{conductor.numeroSOAT}}</span></label><br>
                            <label>Número de tecnicomecánica: <span>{{conductor.numeroTecnomecanica}}</span></label><br>
                            <label>Propietario: <span>{{conductor.nombrePropietario}}</span></label><br>
                            <label>Cédula del propietario: <span>{{conductor.cedulaPropietario}}</span></label><br>
                            <label>Télefono del propietario: <span>{{conductor.telefonoPropietario}}</span></label><br>
                            <label>Dirección del propietario: <span>{{conductor.direccionPropietario}}</span></label>
                        </div>
                        <div class="separador"></div>
                        <div class="textos-container">
                            <img [src]="'assets/taxi.svg' | imagenes">
                        </div>
                        <div class="separador"></div>
                        <div class="textos-container w3">
                            <label>HYUNDAI Modelo: <span>{{conductor.modelo}}</span></label><br>
                            <label>Placa: <span>{{conductor.placa}}</span></label><br>
                            <label>Número de motor: <span>{{conductor.numeroMotor}}</span></label><br>
                            <label>Número de chasis: <span>{{conductor.numeroChasis}}</span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-paginacion ">
        <app-paginacion 
            *ngIf="totalPages"
            [cantidad]="totalPages"
            (paginar)="pagina($event)">
        </app-paginacion>
    </div>
</div>