<div class="contenedor">
    <div class="row">
        <div class="col-6">
            <label class="titulo">Matriculas canceladas</label>
        </div>
        <div class="col-6 flex-end">
            <app-export-excel (export)="exportar()"/>
        </div>
    </div>
    <div class="row mt-20 pb-80">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th class="ptlr">Empresa</th>
                        <th>Placa</th>
                        <th>Modelo</th>
                        <th>Marca</th>
                        <th>Nombre propietario</th>
                        <th>Cédula propietario</th>
                        <th class="ptrr">Fecha de cancelación</th>
                    </tr>
                </thead>
                <div class="h-10"></div>
                <tbody class="bw">
                  <tr *ngFor="let taxi of taxis">
                    <td>TAXIS S.A.S.</td>
                    <td>TZW 522</td>
                    <td>2023</td>
                    <td>KIA</td>
                    <td>Jairo Rafael Pimienta Lineros</td>
                    <td>12090290920</td>
                    <td>20/10/2022</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="footer-paginacion ">
        <app-paginacion 
            *ngIf="totalPages"
            [cantidad]="totalPages"
            (paginar)="pagina($event)">
        </app-paginacion>
    </div>
</div>