<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="text-center">
    <img src="assets/developing/developing.png" alt="Actualizando" class="update-image mb-4">
    <h1 class="fw-bold text-secondary">Actualizando el Sistema</h1>
    <p class="text-muted">Por favor espera mientras aplicamos las actualizaciones necesarias. <br>Tiempo estimado 12 horas.</p>
    <p class="text-muted centrar">Puedes dirigirte <span [routerLink]="'/empresa/buscar-conductores'" class="btn btn-primary">aquí</span> para hacer actualizaciones en los documentos</p>
  </div>
</div>
