<div class="contenedor">
    <div class="row" [hidden]="!perfilVinculacion.datosDelConductor">
        <div class="col-2">
        </div>
        <div class="col-8 np">
            <label class="titulos">Datos del conductor</label>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-10" [hidden]="!perfilVinculacion.datosDelConductor">
        <div class="col-2">
            <img [src]="perfilVinculacion.datosDelConductor.img| imagenes">
        </div>
        <div class="col-8">
            <div class="row lh-13">
                <div class="col np">
                    <label class="subtitulos">Nombres y apellidos:</label>
                    <input disabled [value]="perfilVinculacion.datosDelConductor.nombres + ' ' + perfilVinculacion.datosDelConductor.apellidos">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Cédula/Licencia:</label>
                    <input disabled [value]="perfilVinculacion.datosDelConductor.licencia.value">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Vence:</label>
                    <input disabled [value]="perfilVinculacion.datosDelConductor.licencia.fechaVencimiento">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Fecha de Nacimiento:</label>
                    <input disabled [value]="perfilVinculacion.datosDelConductor.fechaDeNacimiento">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Categoría de licencia:</label>
                    <input disabled [value]="perfilVinculacion.datosDelConductor.categoriaDeLicencia">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">EPS:</label>
                    <input disabled [value]="perfilVinculacion.datosDelConductor.EPS">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">ARL:</label>
                    <input disabled [value]="perfilVinculacion.datosDelConductor.ARL">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col np">
                    <label class="subtitulos">Fondo de pensión:</label>
                    <input disabled [value]="perfilVinculacion.datosDelConductor.fondoDePension">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Sexo:</label>
                    <input disabled [value]="perfilVinculacion.datosDelConductor.sexo">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Estado cívil:</label>
                    <input disabled [value]="perfilVinculacion.datosDelConductor.estadoCivil">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Dirección:</label>
                    <input disabled [value]="perfilVinculacion.datosDelConductor.direccion">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Teléfono:</label>
                    <input disabled [value]="perfilVinculacion.datosDelConductor.telefono">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col np">
                    <label class="subtitulos">Correo electrónico:</label>
                    <input disabled [value]="perfilVinculacion.datosDelConductor.email">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Grupo sanguíneo:</label>
                    <input disabled [value]="perfilVinculacion.datosDelConductor.grupoSanguineo">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">RH:</label>
                    <input disabled [value]="perfilVinculacion.datosDelConductor.RH">
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-30" [hidden]="!perfilVinculacion.informacionComplementaria">
        <div class="col-2">
        </div>
        <div class="col-8 np">
            <label class="titulos">Información complementaria</label>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-10" [hidden]="!perfilVinculacion.informacionComplementaria">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row lh-13">
                <div class="col-7 np-l">
                    <label class="subtitulos">Parentesco jefe hogar:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.parentescoJefeHogar">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Número de hijos:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.numeroDeHijos">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Personas a cargo:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.personasACargo">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Estudia actualmente:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.estudiaActualmente">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Nivel educativo:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.nivelEducativo">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Tipo de discapacidad:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.tipoDeDiscapacidad">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Taxista ocasional:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.taxistaOcasional">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Tiempo como conductor:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.tiempoComoConductor">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">¿Realiza otra labor?:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.realizaOtraLabor">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Tiempo otra labor:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.tiempoOtraLabor">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Ingresos como conductor:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.ingresosComoConductor">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Ingresos otra labor:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.ingresosOtraLabor">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Estrato socioeconómico:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.estratoSocioeconomico">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Tipo de vivienda:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.tipoDeVivienda">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Acceso a enegía:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.accesoAEnergia">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Acceso a agua:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.accesoAAgua">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Acceso a gas:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.accesoAGas">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Acceso a alcantarillado:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.accesoAAlcantarillado">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Acceso a recolección de basura:</label>
                    <input disabled [value]="perfilVinculacion.informacionComplementaria.accesoARecoleccionBasura">
                </div>
                <div class="col-5 np-r">
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-30" [hidden]="!perfilVinculacion.datosDeLaEmpresa">
        <div class="col-2">
        </div>
        <div class="col-8 np">
            <label class="titulos">Datos de la empresa</label>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-10" [hidden]="!perfilVinculacion.datosDeLaEmpresa">
        <div class="col-2">
            <img [src]="perfilVinculacion.datosDeLaEmpresa.img| imagenes">
        </div>
        <div class="col-8">
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Nombre:</label>
                    <input disabled [value]="perfilVinculacion.datosDeLaEmpresa.nombre">
                </div>
                <div class="col-5 np-r"></div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">NIT:</label>
                    <input disabled [value]="perfilVinculacion.datosDeLaEmpresa.nit">
                </div>
                <div class="col-5 np-r"></div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Dirección:</label>
                    <input disabled [value]="perfilVinculacion.datosDeLaEmpresa.direccion">
                </div>
                <div class="col-5 np-r"></div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Línea de atención:</label>
                    <input disabled [value]="perfilVinculacion.datosDeLaEmpresa.lineaDeAtencion">
                </div>
                <div class="col-5 np-r"></div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Correo:</label>
                    <input disabled [value]="perfilVinculacion.datosDeLaEmpresa.email">
                </div>
                <div class="col-5 np-r"></div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row mt-30" [hidden]="!perfilVinculacion.datosDelVehiculo">
        <div class="col-2">
        </div>
        <div class="col-8 np">
            <label class="titulos">Datos del vehículo</label>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-10" [hidden]="!perfilVinculacion.datosDelVehiculo">
        <div class="col-2">
            <img [src]="'assets/taxi.svg' | imagenes">
        </div>
        <div class="col-8">
            <div class="row lh-13">
                <div class="col-7 np-l">
                    <label class="subtitulos">Placa:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.placa">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Número de censo:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.numeroDeCenso">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Número de motor:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.numeroDeMotor">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Número de chasis:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.numeroDeChasis">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Marca:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.marca">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Modelo:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.modelo">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Cédula de propietario:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.cedulaDePropietario">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Nombre completo de propietario:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.nombrePropietario">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Dirección del propietario:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.direccionPropietario">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Teléfono del propietario:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.telefonoPropietario">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-4 np-l">
                    <label class="subtitulos">Asociación:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.asociacion.value">
                </div>
                <div class="col-4 np-r np-l">
                    <label class="subtitulos">Tarjeta de operación:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.asociacion.tarjetaDeOperacion">
                </div>
                <div class="col-4 np-r">
                    <label class="subtitulos">Vence:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.asociacion.vence">
                </div>
            </div>

            <div class="row lh-13 mt-10">
                <div class="col-4 np-l">
                    <label class="subtitulos">SOAT:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.soat.value">
                </div>
                <div class="col-4 np-r np-l">
                    <label class="subtitulos">Aseguradora:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.soat.aseguradora">
                </div>
                <div class="col-4 np-r">
                    <label class="subtitulos">Vence:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.soat.vence">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Técnico mecánica:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.tecnicoMecanica.value">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Vence:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.tecnicoMecanica.vence">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Seguro contractual:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.seguroContractual.value">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Vence:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.seguroContractual.vence">
                </div>
            </div>
            <div class="row lh-13 mt-10">
                <div class="col-7 np-l">
                    <label class="subtitulos">Seguro extracontractual:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.seguroExtracontractual.value">
                </div>
                <div class="col-5 np-r">
                    <label class="subtitulos">Vence:</label>
                    <input disabled [value]="perfilVinculacion.datosDelVehiculo.seguroExtracontractual.vence">
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    
    <div class="row ptb-30">
        <div class="col-6 align-end"><button class="btn-imprimir"><img [src]="'assets/imprimir.svg' | imagenes">Imprimir</button></div>
        <div class="col-6 align-ini"><button class="btn-cerrar" mat-dialog-close>Cerrar</button></div>
    </div>
</div>