.direccion {
  display: grid;
  line-height: 1.2;
}
.direccion-centro {
  display: grid;
  align-items: center;
  justify-content: center;
}
.direccion-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.label-titulo-placa {
  font-size: 22px;
  font-weight: bold;
  color: #000;
}
.label-titulo {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.label-subtitulo {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4392156863);
  width: 75px;
}
.button-opc-d {
  padding: 5px 30px;
  color: #fff;
  background-color: #f61a16;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}
.button-opc-a {
  padding: 5px 30px;
  background-color: #8DD7F7;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}
.separador {
  height: 10px;
}

.row-card {
  background-color: white;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}
.image-carro {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.15);
}

.button-opc-a:hover {
  transform: translateY(-3px);
}
.button-opc-d:hover {
  transform: translateY(-3px);
}
.warning {
  font-size: 14px;
  width: 14px;
  height: 14px;
  color: #ff0005;
}
.check {
  font-size: 14px;
  width: 14px;
  height: 14px;
  color: #8DD7F7;
}
.opacitty-0 {
  opacity: 0;
}

.editar-icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
  color: blue;
}
.editar-icon:hover {
  cursor: pointer;
}
.centrar-documento {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.editar-boton {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
}

.editar-boton:hover {
  text-decoration: underline;
}

.margin-auto {
  margin: auto;
  gap: 15px;
}



.message-container {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 1.5rem;
}
.mensaje-centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px); /* Ajusta restando el espacio ocupado por otros elementos */
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

