<div class="contenedor">
    <div class="row mt-20">
        <app-barra-busqueda [placeholder]="'Buscar por placa o cédula'"/>
    </div>
    <div class="row mt-40">
        <div class="col-6">
            <label class="titulo">Documentos vencidos</label>
        </div>
        <div class="col-6 flex-end">
            <app-export-excel/>
        </div>
    </div>
    <div class="row pb-80">
        <div class="col-4 mt-20" *ngFor="let taxista of [1,2,3,4,5,6,7,8,9,10,11,12]">
            <div class="card-taxista">
                <div class="w-img"><img [src]="'' | imagenes"></div>
                <div class="w-tex">
                    <label class="cardtitulo">Jesús Alberto Tamayo Guerrero</label><br>
                    <label class="cardsubtitulo">Empresa: <span>Taxis la S.A.S.</span></label><br>
                    <label class="cardsubtitulo">Cédula: <span>1083023962</span></label><br>
                    <label class="cardsubtitulo">Placa: <span>UQS303</span></label><br>
                    <label class="cardsubtitulo">Licencia: <span>Hace 1063 días</span><img [src]="'assets/alertas.svg' | imagenes"></label><br>
                    <label class="cardsubtitulo">Tarjeta de operación: <span>en 106 días</span><img [src]="'assets/tramitadas.svg' | imagenes"></label><br>
                    <label class="cardsubtitulo">RCC: <span>Hace 158 días</span><img [src]="'assets/alertas.svg' | imagenes"></label><br>
                    <label class="cardsubtitulo">RCE: <span>Hace 158 días</span><img [src]="'assets/alertas.svg' | imagenes"></label><br>
                    <label class="cardsubtitulo">SOAT: <span>Hace 78 días</span><img [src]="'assets/alertas.svg' | imagenes"></label><br>
                    <label class="cardsubtitulo">Tecnicomecánica: <span>Hace 59 días</span><img [src]="'assets/alertas.svg' | imagenes"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-paginacion ">
        <app-paginacion 
            [cantidad]="40"
            (paginar)="pagina($event)">
        </app-paginacion>
    </div>
</div>